.logo {
    display: inline-block;
    vertical-align: middle;
    margin-left: 162px;

}
.navigation {
    display: inline-block;
    vertical-align: middle;
    margin-left: 150px;
}
.li-item {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #274C5B;
    margin-left: 30px;

}

.header {
    padding: 69px 0 69px 162px;
}
.banner {
    width: 1920px;
    margin-top: 84.36px;

}
.container {
    display: inline-block;
    width: 1400px;
    margin-left: 260px;
    margin-top: 175px;
}
.container-a-item {
    display: inline-block;
}
.image {
    
    width: 100%;
}
.content {
    display: inline-block;
    width: 936px;
    margin-top: 150px;
    margin-left: 232px;
    margin-right: 232px;
    
}
.title {
    
    color: #274C5B;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    margin-left: 232px;
    
}
.paragraph {
    color: #525C60;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin-top: 28px;
    margin-left: 232px;
}
.content-a-item {
    width: 936px;
}
.container-b-item {
    display: flex;
    width: 936px;
    gap: 20px;
    margin-top: 70px;
}
.left-wraper {
    display: inline-block;
    width: 379px;
    margin-left: 232px;

}
.right-wraper {
    display: inline-block;
    margin-left: 30px;
    width: 379px;
}

.container-c-item {
    display: flex;
    width: 936px;
    margin-top: 28px;
}
.title-right-wraper {
    display: inline-block;
    color: #274C5B;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    
}
.paragraph-right-wraper {
    display: inline-block;
    color: #525C60;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;

}
.title-left-wraper {
    display: inline-block;
    color: #274C5B;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 500;

}
.paragraph-left-wraper {
    display: inline-block;
    text-align: left;
    color: #525C60;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.left-wraper-c {
    width: 537px;
    margin-left: 232px;
    
}
.right-wraper-c {
    width: 379px;
    margin-left: 150px;
}
.content-d-item {
    display: inline-block;
    width: 936px;
    margin-left: 232px;
    margin-top: 70px;

}
.title-d {
    color: #274C5B;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}
.paragraph-d {
    color: #525C60;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.newslatter {
    width: 1400px;
    margin-left: 260px;
    margin-top: 97px;

}
.footer-container {
    display: flex;
    width: 1404;
    justify-content: center;
    margin-top: 35.36px;
}
.title-contact {
    color: #274C5B;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
}
.contact-image { 
    margin-top: 33px; 
}
.About {
    
    display: inline-block;
    text-align: center;
    width: 543px;
}
.footer-logo {
    display: flex;
    margin-left: 150px;
    
}
.footer-paragraph {
    color: #525C60;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
}
.Utility-title {
    color: #274C5B;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
}
.Utility-image {
    margin-top: 24px;
}
.Copyright {
    display: flex;
    justify-content: center;
    margin-top: 17px;
}